FibonacciWindowForm/Web References/FibonacciService/Fibonacci.wsdl

<?xml version="1.0" encoding="utf-8"?>

<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="FibonacciItterative">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="n" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FibonacciItterativeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FibonacciItterativeResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FibonacciRecursive">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="n" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FibonacciRecursiveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FibonacciRecursiveResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FibonacciItterativeSoapIn">
    <wsdl:part name="parameters" element="tns:FibonacciItterative" />
  </wsdl:message>
  <wsdl:message name="FibonacciItterativeSoapOut">
    <wsdl:part name="parameters" element="tns:FibonacciItterativeResponse" />
  </wsdl:message>
  <wsdl:message name="FibonacciRecursiveSoapIn">
    <wsdl:part name="parameters" element="tns:FibonacciRecursive" />
  </wsdl:message>
  <wsdl:message name="FibonacciRecursiveSoapOut">
    <wsdl:part name="parameters" element="tns:FibonacciRecursiveResponse" />
  </wsdl:message>
  <wsdl:portType name="FibonacciSoap">
    <wsdl:operation name="FibonacciItterative">
      <wsdl:input message="tns:FibonacciItterativeSoapIn" />
      <wsdl:output message="tns:FibonacciItterativeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FibonacciRecursive">
      <wsdl:input message="tns:FibonacciRecursiveSoapIn" />
      <wsdl:output message="tns:FibonacciRecursiveSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FibonacciSoap" type="tns:FibonacciSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FibonacciItterative">
      <soap:operation soapAction="http://tempuri.org/FibonacciItterative" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FibonacciRecursive">
      <soap:operation soapAction="http://tempuri.org/FibonacciRecursive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FibonacciSoap12" type="tns:FibonacciSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FibonacciItterative">
      <soap12:operation soapAction="http://tempuri.org/FibonacciItterative" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FibonacciRecursive">
      <soap12:operation soapAction="http://tempuri.org/FibonacciRecursive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Fibonacci">
    <wsdl:port name="FibonacciSoap" binding="tns:FibonacciSoap">
      <soap:address location="http://localhost:53616/Fibonacci.asmx" />
    </wsdl:port>
    <wsdl:port name="FibonacciSoap12" binding="tns:FibonacciSoap12">
      <soap12:address location="http://localhost:53616/Fibonacci.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>